.main{
    border:3px solid blue;
    width:400px;
    padding:20px;
    height: 100%;

}

.row1,.row2,.row3,.row4{
    display:flex;
}

button{
    margin: 2px;
    width:90px;
    height:90px;
    background:rgb(229,149,214);
}

#input input{
    width:360px;
    height:40px;
    margin-bottom:10px;
}
#result{
       width:360px;
    height:40px;
    margin-bottom:10px;
border: 2px solid black;

}